<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>138.33.0.157554</string>
	</array>
	<key>CreationDate</key>
	<string>2012-06-19 14:14:52 +0800</string>
	<key>Creator</key>
	<string>jacob</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>ImageCounter</key>
	<integer>6</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image5.tiff</string>
		<string>image4.tiff</string>
		<string>image3.tiff</string>
		<string>image2.tiff</string>
	</array>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2012-06-19 18:05:27 +0800</string>
	<key>Modifier</key>
	<string>jacob</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAx7X05TU2l6ZT1mZn2WgWQCgRgDhg==</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>Sheets</key>
	<array>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<true/>
			<key>BackgroundGraphic</key>
			<dict>
				<key>Bounds</key>
				<string>{{0, 0}, {1152, 733}}</string>
				<key>Class</key>
				<string>SolidGraphic</string>
				<key>ID</key>
				<integer>2</integer>
				<key>Style</key>
				<dict>
					<key>shadow</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
					<key>stroke</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
				</dict>
			</dict>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 0/72 in = 1 0/72 in</string>
			<key>GraphicsList</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{454, 122}, {195, 28}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>12</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 Completed features are removed by\
the 
\b Product Owner
\b0  after verification}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{32, 122}, {265, 28}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>11</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 The 
\b Product Owner
\b0  (or Product Associate) adds \
and prioritizes features in the backlog}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>10</integer>
					<key>Points</key>
					<array>
						<string>{551, 270.5}</string>
						<string>{551, 163.5}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>9</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>7</integer>
					<key>Points</key>
					<array>
						<string>{164, 163.5}</string>
						<string>{164, 270.5}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>9</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{70, 234.5}, {585.753, 335}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>4</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>2</integer>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>Animate</key>
				<string>NO</string>
				<key>circoMinDist</key>
				<real>18</real>
				<key>circoSeparation</key>
				<real>0.0</real>
				<key>layoutEngine</key>
				<string>dot</string>
				<key>neatoSeparation</key>
				<real>0.0</real>
				<key>twopiSeparation</key>
				<real>0.0</real>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>PrintOnePage</key>
			<false/>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Owner</string>
			<key>UniqueID</key>
			<integer>1</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<true/>
			<key>BackgroundGraphic</key>
			<dict>
				<key>Bounds</key>
				<string>{{0, 0}, {576, 733}}</string>
				<key>Class</key>
				<string>SolidGraphic</string>
				<key>ID</key>
				<integer>2</integer>
				<key>Style</key>
				<dict>
					<key>shadow</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
					<key>stroke</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
				</dict>
			</dict>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 0/72 in = 1.0000 in</string>
			<key>GraphicsList</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{45, 180}, {491, 261}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>3</integer>
					<key>ImageID</key>
					<integer>5</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>1</integer>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>Animate</key>
				<string>NO</string>
				<key>circoMinDist</key>
				<real>18</real>
				<key>circoSeparation</key>
				<real>0.0</real>
				<key>layoutEngine</key>
				<string>dot</string>
				<key>neatoSeparation</key>
				<real>0.0</real>
				<key>twopiSeparation</key>
				<real>0.0</real>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>PrintOnePage</key>
			<false/>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Feature</string>
			<key>UniqueID</key>
			<integer>4</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<true/>
			<key>BackgroundGraphic</key>
			<dict>
				<key>Bounds</key>
				<string>{{0, 0}, {1152, 733}}</string>
				<key>Class</key>
				<string>SolidGraphic</string>
				<key>ID</key>
				<integer>2</integer>
				<key>Style</key>
				<dict>
					<key>shadow</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
					<key>stroke</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
				</dict>
			</dict>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 0/72 in = 1.0000 in</string>
			<key>GraphicsList</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{197.376, 178}, {331, 42}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>14</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 The 
\b Development Team
\b0  moves features through the pipeline,\
taking the top most feature from the backlog and completing\
it over the course of 3-4 days.}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>13</integer>
					<key>Points</key>
					<array>
						<string>{399, 274}</string>
						<string>{511, 274}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.0108509</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>9</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>7</integer>
					<key>Points</key>
					<array>
						<string>{207, 274}</string>
						<string>{319, 274}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.0108509</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>9</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{70, 234.5}, {585.753, 335}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>4</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>2</integer>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>Animate</key>
				<string>NO</string>
				<key>circoMinDist</key>
				<real>18</real>
				<key>circoSeparation</key>
				<real>0.0</real>
				<key>layoutEngine</key>
				<string>dot</string>
				<key>neatoSeparation</key>
				<real>0.0</real>
				<key>twopiSeparation</key>
				<real>0.0</real>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>PrintOnePage</key>
			<false/>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Developer</string>
			<key>UniqueID</key>
			<integer>2</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<true/>
			<key>BackgroundGraphic</key>
			<dict>
				<key>Bounds</key>
				<string>{{0, 0}, {1152, 733}}</string>
				<key>Class</key>
				<string>SolidGraphic</string>
				<key>ID</key>
				<integer>2</integer>
				<key>Style</key>
				<dict>
					<key>shadow</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
					<key>stroke</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
				</dict>
			</dict>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 0/72 in = 1.0000 in</string>
			<key>GraphicsList</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{394.124, 239.5}, {177, 42}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>20</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf1 Items can be moved into Done because there are 2 empty spaces.}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{105.124, 111}, {231, 42}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>19</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 A new item cannot be moved from the \
backlog because the 
\b In Progress
\b0  limit has \
already been reached}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{436.124, 162.5}, {36, 77}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0.0108509</string>
							<key>g</key>
							<string>0</string>
							<key>r</key>
							<string>1</string>
						</dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>64</real>
					</dict>
					<key>ID</key>
					<integer>18</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Beneath</key>
							<string>YES</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red0\green255\blue36;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs128 \cf2 \uc0\u8730 }</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{232.124, 162.5}, {43, 77}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0.0108509</string>
							<key>g</key>
							<string>0</string>
							<key>r</key>
							<string>1</string>
						</dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>64</real>
					</dict>
					<key>ID</key>
					<integer>17</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Beneath</key>
							<string>YES</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red255\green0\blue3;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs128 \cf2 X}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{255.124, 162.5}, {72, 22.5}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>8</integer>
					<key>Shape</key>
					<string>Circle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>13</integer>
					<key>Points</key>
					<array>
						<string>{324.124, 202}</string>
						<string>{436.124, 202}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Beneath</key>
							<string>YES</string>
							<key>Draws</key>
							<string>YES</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>0.54659</string>
								<key>r</key>
								<string>0.364753</string>
							</dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>9</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>7</integer>
					<key>Points</key>
					<array>
						<string>{132.124, 202}</string>
						<string>{244.124, 202}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Beneath</key>
							<string>YES</string>
							<key>Draws</key>
							<string>YES</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>0.54659</string>
								<key>r</key>
								<string>0.364753</string>
							</dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>9</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{-4.8765, 162.5}, {585.753, 335}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>4</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>2</integer>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>Animate</key>
				<string>NO</string>
				<key>circoMinDist</key>
				<real>18</real>
				<key>circoSeparation</key>
				<real>0.0</real>
				<key>layoutEngine</key>
				<string>dot</string>
				<key>neatoSeparation</key>
				<real>0.0</real>
				<key>twopiSeparation</key>
				<real>0.0</real>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>PrintOnePage</key>
			<false/>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>WIP</string>
			<key>UniqueID</key>
			<integer>5</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<true/>
			<key>BackgroundGraphic</key>
			<dict>
				<key>Bounds</key>
				<string>{{0, 0}, {1152, 733}}</string>
				<key>Class</key>
				<string>SolidGraphic</string>
				<key>ID</key>
				<integer>2</integer>
				<key>Style</key>
				<dict>
					<key>shadow</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
					<key>stroke</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
				</dict>
			</dict>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 0/72 in = 1.0000 in</string>
			<key>GraphicsList</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{202, 561}, {300.08, 24}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>19</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>1</string>
							</dict>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{209, 563.5}, {225, 12}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>5</real>
					</dict>
					<key>ID</key>
					<integer>18</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red0\green33\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\f0\fs10 \cf0 Is this reasonable to place in a single feature?\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural
{\field{\*\fldinst{HYPERLINK "https://trello.com/card/example-controller-that-calls-an-hbase-database/4fdf69290bbdfd35030ca73b/4"}}{\fldrslt \cf2 https://trello.com/card/example-controller-that-calls-an-hbase-database/4fdf69290bbdfd35030ca73b/4}}}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{28.8558, 612}, {539, 28}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>14</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red0\green33\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs24 \cf0 Is this reasonable to place in a single feature?\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural
{\field{\*\fldinst{HYPERLINK "https://trello.com/card/example-controller-that-calls-an-hbase-database/4fdf69290bbdfd35030ca73b/4"}}{\fldrslt \cf2 https://trello.com/card/example-controller-that-calls-an-hbase-database/4fdf69290bbdfd35030ca73b/4}}}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{14.7117, 593}, {700, 80}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>15</integer>
					<key>ImageID</key>
					<integer>4</integer>
					<key>ManualSizeImage</key>
					<string>YES</string>
					<key>Offset</key>
					<string>{0, 0.817384}</string>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>image fill</key>
						<dict>
							<key>ImageSizing</key>
							<integer>0</integer>
							<key>Offset</key>
							<string>{0, 0.817384}</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Beneath</key>
							<string>YES</string>
							<key>ShadowVector</key>
							<string>{-4, -4}</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>17</integer>
					<key>Points</key>
					<array>
						<string>{502.08, 562}</string>
						<string>{706, 593}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>16</integer>
					<key>Points</key>
					<array>
						<string>{202, 561}</string>
						<string>{19, 592}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{202, 282}, {300.08, 304}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>10</integer>
					<key>ImageID</key>
					<integer>4</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Beneath</key>
							<string>YES</string>
							<key>ShadowVector</key>
							<string>{-4, -4}</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{221.856, 72}, {216, 42}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>9</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs24 \cf0 The PO can solicit information from the\
development team by linking to the card \
from chat, with a question}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{44.8558, 151.5}, {409.928, 15}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>8</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>7</integer>
					<key>Points</key>
					<array>
						<string>{217.856, 91}</string>
						<string>{171.856, 149}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.0108509</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{37.7117, 149}, {417.072, 394}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>3</integer>
					<key>ImageID</key>
					<integer>3</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Beneath</key>
							<string>YES</string>
							<key>ShadowVector</key>
							<string>{-4, -4}</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>2</integer>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>Animate</key>
				<string>NO</string>
				<key>circoMinDist</key>
				<real>18</real>
				<key>circoSeparation</key>
				<real>0.0</real>
				<key>layoutEngine</key>
				<string>dot</string>
				<key>neatoSeparation</key>
				<real>0.0</real>
				<key>twopiSeparation</key>
				<real>0.0</real>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>PrintOnePage</key>
			<false/>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Solicitation</string>
			<key>UniqueID</key>
			<integer>3</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UseEntirePage</key>
	<false/>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>3</integer>
		<key>ExpandedCanvases</key>
		<array/>
		<key>Frame</key>
		<string>{{0, 4}, {1038, 774}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-5, 0}, {889, 605}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Owner</string>
				<real>1</real>
				<real>1</real>
			</array>
			<array>
				<string>Developer</string>
				<real>1</real>
				<real>1</real>
			</array>
			<array>
				<string>Solicitation</string>
				<real>1</real>
				<real>1</real>
			</array>
			<array>
				<string>Feature</string>
				<real>1</real>
				<real>1</real>
			</array>
			<array>
				<string>WIP</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
